<import-sjs name="calc" from="/common/calc.sjs"/>
<view class="section graph">
  <view class="head">
    <view class="title">
        产业链图谱
    </view>
    <view class="right" onTap="showHelp">
        数据说明
    </view>
  </view>
  <view class="body">
    <view class="wrap">
      <empty a:if="{{!upAndDownData.up}}" class="empty">
        暂无数据
      </empty>
      <view a:else class="content">
        <view class="up">
          <view class="item" a:for="{{upList}}" a:key="*this" data-item="{{{...item,up:true}}}" onTap="upAndDownHandle">
            <text>{{item.productName}}</text>
            <text class="{{item.increase>0?'red':'green'}}" a:if="{{item.increase}}">{{item.increase>0?'+':''}}{{calc.mul(item.increase,100)+'%'}}</text>
          </view>
          <view class="more" a:if="{{upAndDownData.up.length>9}}" onTap="toggleUpExpand">
            <text>{{upExpand?'收起':'查看更多'}}</text>
            <image class="{{upExpand?'expand':''}}" mode="scaleToFill" src="/assets/images/arrow_bottom.png"/>
          </view>
        </view>
        <view class="line-wrap">
          <image class="upline" mode="scaleToFill" src="/assets/images/industry/line.png"/>
          <text class="desc updesc">上游</text>
        </view>
        <view class="mid">
          <view>
            <text>{{productName}}</text>
            <text class="rate" a:if="{{increase}}">{{increase>0?'+':''}}{{calc.mul(increase,100)+'%'}}</text>
          </view>
        </view>
        <view class="line-wrap">
          <image class="downline" mode="scaleToFill" src="/assets/images/industry/line.png"/>
          <text class="desc downdesc">下游</text>
        </view>
        <view class="down">
          <view class="item" a:for="{{downList}}" a:key="*this" data-item="{{item}}" onTap="upAndDownHandle">
            <text>{{item.productName}}</text>
            <text class="{{item.increase>0?'red':'green'}}" a:if="{{item.increase}}">{{item.increase>0?'+':''}}{{calc.mul(item.increase,100)+'%'}}</text>
          </view>
          <view class="more" a:if="{{upAndDownData.down.length>9}}" onTap="toggleDownExpand">
            <text>{{downExpand?'收起':'查看更多'}}</text>
            <image class="{{downExpand?'expand':''}}" mode="scaleToFill" src="/assets/images/arrow_bottom.png"/>
          </view>
        </view>
      </view>
    </view>
  </view>
  <help a:if="{{helpShow}}" type="data" onSetShow="setShow"/>
</view>